body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

section {
    padding: 40px 20px;
    flex: 1;
}

.menu-parent {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.menu-icon {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.3s;
    /* Smooth transition for icon animation */
}

nav {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

body.dark-mode {
    background-color: #272935;
    color: #eee;
}

body.dark-mode .section-title,
body.dark-mode .brand,
body.dark-mode .skill-list li,
body.dark-mode .interest-list li,
body.dark-mode .achievement-list li,
body.dark-mode .project-list li {
    color: #eee;
    background-color: #333;
}

body.dark-mode a:hover {
    color: #00a0e9;
}

body.dark-mode .nav-links a:hover {
    background-color: #444;
    color: #00a0e9;
}

body.dark-mode nav {
    background-color: #333;
}

body.dark-mode #myImg {
    border: 5px solid #555;
}


.theme-toggle {
    display: flex;
    gap: 10px;
}

.theme-toggle button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.theme-toggle button:hover {
    background-color: #0056b3;
}

body.dark-mode .theme-toggle button:nth-child(2),
body:not(.dark-mode) .theme-toggle button:nth-child(1) {
    background-color: #0056b3;
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-toggle img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.theme-toggle img:hover {
    opacity: 0.8;
}

.brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    font-weight: 600;
    color: #555;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
    background-color: #f0f0f0;
}

body.dark-mode .menu-icon {
    background-color: white;
}

#about {
    text-align: center;
    padding: 100px 0;
    /* background-image: url('bg2.jpg'); */
    background: linear-gradient(to right, #272935, #0a142f);
    background-size: cover;
    background-position: center;
    color: #fff;
}

#myImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #0c193b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#about h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    filter: grayscale(0.5);
}

.social-links img:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    margin-top: 4%;
}

.theme-toggle-mobile {
    display: none;
    /* Initially hidden on larger screens */
    justify-content: center;
    /* Center the icons */
    padding: 10px 0;
    /* Add some vertical padding */
    border-top: 1px solid #eee;
    /* Add a separator */
}

.theme-toggle-mobile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin: 0 10px;
    /* Add some space between the icons */
}

.theme-toggle-mobile img:hover {
    opacity: 0.8;
}

.skill-list,
.interest-list,
.achievement-list,
.project-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.skill-list li,
.interest-list li,
.achievement-list li,
.project-list li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.skill-list li:hover,
.interest-list li:hover,
.achievement-list li:hover,
.project-list li:hover {
    transform: translateY(-5px);
}

.project-list li strong {
    font-weight: bold;
}

.project-list li ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

body.dark-mode footer {
    color: #fff;
    background-color: #333;
}

footer {
    color: #333;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

@media (max-width: 1000px) {
    .menu-parent {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #fff;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 100;
    }

    .theme-toggle {
        display: none;
        /* Hide the desktop theme toggle */
    }

    .theme-toggle-mobile {
        display: flex;
        /* Show the mobile theme toggle */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .nav-links a {
        padding: 15px;
        display: block;
    }

    .menu-parent.active .menu-icon:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
    }

    .menu-parent.active .menu-icon:nth-child(2) {
        opacity: 0;
    }

    .menu-parent.active .menu-icon:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
    }

    .nav-links {
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        display: none;
    }

    .theme-toggle {
        display: none;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {
        display: block;
    }

    #about {
        padding-top: 45%;
        padding-bottom: 45%;
    }

    #myImg {
        width: 200px;
        height: 200px;
    }

    #about h1 {
        font-size: 2rem;
    }

    #about h2 {
        font-size: 1.2rem;
    }

    .section-title {
        font-size: 1.5rem;
        margin-top: 20%;
    }

    .skill-list li,
    .interest-list li,
    .achievement-list li,
    .project-list li {
        padding: 10px;
        font-size: 0.9rem;

    }

    .project-list li ul {
        margin-left: 15px;

    }


    .theme-toggle img#light-mode-icon:not([style*="display: none"])+img#dark-mode-icon,

    .theme-toggle img#dark-mode-icon:not([style*="display: none"])+img#light-mode-icon {

        display: none;
    }


    .theme-toggle img#light-mode-icon:not([style*="display: none"]),
    .theme-toggle img#dark-mode-icon:not([style*="display: none"]) {
        display: block;
    }


    .theme-toggle img {
        cursor: pointer;
    }
}

@media (max-width: 600px) {

    .skill-list li,
    .interest-list li,
    .achievement-list li,
    .project-list li {
        font-size: 0.8rem;

    }

    footer {
        font-size: 0.8rem;
    }
}